In [4]:
import pandas as pd
import numpy as np

### Introdução a Ciência de Dados

In [5]:
df = pd.DataFrame({'X':[14,33,42,54,62,71],
                   'Y':[1,3,4,5,6,4]})
df

    X  Y
0  14  1
1  33  3
2  42  4
3  54  5
4  62  6
5  71  4

In [1]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\rodri\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.1-cp312-cp312-win_amd64.whl (10.9 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df['X'] = scaler.fit_transform(df[['X']])
df

          X  Y
0 -1.688895  1
1 -0.686114  3
2 -0.211112  4
3  0.422224  5
4  0.844448  6
5  1.319450  4

In [7]:
df = pd.DataFrame({'X':[14,33,42,54,62,71],
                   'Y':[1,3,4,5,6,4]})

In [9]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
# Treinando o modelo 
modelo.fit(df[['X']], df['Y'])
# Fazendo previsões 
df['LigReg'] = modelo.predict(df[['X']])
df

    X  Y    LigReg
0  14  1  1.619777
1  33  3  2.934076
2  42  4  3.556639
3  54  5  4.386722
4  62  6  4.940111
5  71  4  5.562674

### Feature engineering

In [10]:
realtor = pd.read_csv("realtor-data.csv")
realtor.head(2)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0

In [11]:
features = (realtor
            .groupby(['city','state'])
            .agg({"price":['count','max','min','sum','mean','median']})
            .reset_index())
features.columns = ['city','state','price_count','price_max',
                    'price_min','price_sum','price_mean','price_median']
features.head(2)

,city,state,price_count,price_max,price_min,price_sum,price_mean,price_median
0,Acton,Massachusetts,273,13750000.0,319000.0,349564100.0,1.280455e+06,929000.0
1,Adams,Massachusetts,749,495000.0,35000.0,146228300.0,1.952314e+05,170000.0