In [4]:
import sqlite3
import pandas as pd

In [5]:
df_produtos = pd.DataFrame({'nome': ['ovos', 'manteiga', 'peixe'],
                   'valor': [10, 20, 30]})
df_produtos

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

In [9]:
# Conectar ao banco de dados
conn = sqlite3.connect('coderhouse.db')

# Escrever o DataFrame na tabela 'produtos'
df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

# Fechar a conex√£o com o banco de dados
conn.close()

In [8]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
query = "SELECT * FROM produtos"

df = pd.read_sql(query, conn)

#conn.close()
df

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30