In [4]:
import sqlite3
import pandas as pd

Exercicio 1

In [33]:
def tabelas_bd(bd:str):
    conn = sqlite3.connect(bd)

    # Executar uma consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query, conn)

    conn.close()

    return schema

In [37]:
tabelas_bd('coderhouse.db')

       name
0  produtos

Exercicio 2

In [44]:
def salva_bd(bd:str,df:pd.DataFrame, nome_tabela:str) :
    conn = sqlite3.connect(bd)
    df.to_sql(nome_tabela,conn,if_exists='repalce',index=False)
    conn.close()
    return print(f"Tabela {nome_tabela} salva com sucesso")

In [48]:
salva_bd('coderhouse.db','tabela1','nome')

TypeError: salva_bd() takes 2 positional arguments but 3 were given