In [4]:
import sqlite3
import pandas as pd

In [5]:
fastfood = pd.read_excel("fastfood.xlsx")
fastfood.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other

Exercicio 1

In [6]:
def tabelas_bd(bd:str):
    conn = sqlite3.connect(bd)

    # Executar uma consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query, conn)

    conn.close()

    return schema

In [14]:
tabelas_bd('coderhouse.db')

       name
0  produtos
1     teste

Exercicio 2

In [12]:
def salva_bd(bd:str,df:pd.DataFrame, nome_tabela:str) :
    conn = sqlite3.connect(bd)
    df.to_sql(nome_tabela,conn,if_exists='replace',index=False)
    conn.close()
    print(f"Tabela {nome_tabela} salva com sucesso")

In [13]:
salva_bd('coderhouse.db', fastfood ,'teste')

Tabela teste salva com sucesso

Exercicio 3

In [15]:
def carrega_bd(nome_tabela):
    '''
        Carrega tabela nome_tabela num dataframe. 
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
    query = f"SELECT * FROM {nome_tabela}"
    df = pd.read_sql(query, conn)

    conn.close()

    return df

In [19]:
df_new = carrega_bd("teste")
df_new.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other